{% extends 'home/base.html' %}
{% block content %}
    <h3>Thông số sản lượng năm (kWh): </h3>
    <h4>Inverter 1:</h4>
        <ul>   
        {% for item in m3 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 2:</h4>
        <ul>
        {% for item in m4 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 3:</h4>
        <ul>
        {% for item in m5 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 4:</h4>
        <ul>
        {% for item in m6 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 5:</h4>
        <ul>
        {% for item in m7 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 6:</h4>
        <ul>
        {% for item in m8 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 7:</h4>
        <ul>
        {% for item in m9 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>   
        <h4>Inverter 8:</h4>
        <ul>   
        {% for item in m10 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 9:</h4>
        <ul>
        {% for item in m11 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 10:</h4>
        <ul>
        {% for item in m12 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 11:</h4>
        <ul>
        {% for item in m13 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 12:</h4>
        <ul>
        {% for item in m14 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 13:</h4>
        <ul>
        {% for item in m15 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 14:</h4>
        <ul>
        {% for item in m16 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 15:</h4>
        <ul>
        {% for item in m17 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>     
{% endblock %}