{% extends 'home/base.html' %}
{% block content %}
    <h3>Thông số công suất đầu ra (kW): </h3>
    <h4>Inverter 1:</h4>
        <ul>   
        {% for item in f3 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 2:</h4>
        <ul>
        {% for item in f4 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 3:</h4>
        <ul>
        {% for item in f5 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 4:</h4>
        <ul>
        {% for item in f6 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 5:</h4>
        <ul>
        {% for item in f7 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 6:</h4>
        <ul>
        {% for item in f8 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 7:</h4>
        <ul>
        {% for item in f9 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>   
        <h4>Inverter 8:</h4>
        <ul>   
        {% for item in f10 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 9:</h4>
        <ul>
        {% for item in f11 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 10:</h4>
        <ul>
        {% for item in f12 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 11:</h4>
        <ul>
        {% for item in f13 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 12:</h4>
        <ul>
        {% for item in f14 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 13:</h4>
        <ul>
        {% for item in f15 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 14:</h4>
        <ul>
        {% for item in f16 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 15:</h4>
        <ul>
        {% for item in f17 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>  
{% endblock %}