{% extends 'home/base.html' %}
{% block content %}
    <h3>Thông số điện áp (V): </h3>
    <h4>Inverter 1:</h4>
        <ul>   
        {% for item in b3 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 2:</h4>
        <ul>
        {% for item in b4 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 3:</h4>
        <ul>
        {% for item in b5 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 4:</h4>
        <ul>
        {% for item in b6 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 5:</h4>
        <ul>
        {% for item in b7 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 6:</h4>
        <ul>
        {% for item in b8 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 7:</h4>
        <ul>
        {% for item in b9 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>   
        <h4>Inverter 8:</h4>
        <ul>   
        {% for item in b10 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 9:</h4>
        <ul>
        {% for item in b11 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 10:</h4>
        <ul>
        {% for item in b12 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 11:</h4>
        <ul>
        {% for item in b13 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 12:</h4>
        <ul>
        {% for item in b14 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 13:</h4>
        <ul>
        {% for item in b15 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 14:</h4>
        <ul>
        {% for item in b16 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 15:</h4>
        <ul>
        {% for item in b17 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>     
{% endblock %}