{% extends 'home/base.html' %}
{% block content %}
    <h3>Thông số Công suất đỉnh năm (kW): </h3>
    <h4>Inverter 1:</h4>
        <ul>   
        {% for item in q3 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 2:</h4>
        <ul>
        {% for item in q4 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 3:</h4>
        <ul>
        {% for item in q5 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 4:</h4>
        <ul>
        {% for item in q6 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 5:</h4>
        <ul>
        {% for item in q7 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 6:</h4>
        <ul>
        {% for item in q8 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 7:</h4>
        <ul>
        {% for item in q9 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>   
        <h4>Inverter 8:</h4>
        <ul>   
        {% for item in q10 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 9:</h4>
        <ul>
        {% for item in f11 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 10:</h4>
        <ul>
        {% for item in q12 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 11:</h4>
        <ul>
        {% for item in q13 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 12:</h4>
        <ul>
        {% for item in q14 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 13:</h4>
        <ul>
        {% for item in q15 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 14:</h4>
        <ul>
        {% for item in q16 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 15:</h4>
        <ul>
        {% for item in q17 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>     
{% endblock %}