{% extends 'home/base.html' %}
{% block content %}
    <h3>Thông số sản lượng ngày (kWh): </h3>
    <h4>Inverter 1:</h4>
        <ul>   
        {% for item in h3 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 2:</h4>
        <ul>
        {% for item in h4 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 3:</h4>
        <ul>
        {% for item in h5 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 4:</h4>
        <ul>
        {% for item in h6 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 5:</h4>
        <ul>
        {% for item in h7 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 6:</h4>
        <ul>
        {% for item in h8 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 7:</h4>
        <ul>
        {% for item in h9 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>   
        <h4>Inverter 8:</h4>
        <ul>   
        {% for item in h10 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 9:</h4>
        <ul>
        {% for item in h11 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>
    <h4>Inverter 10:</h4>
        <ul>
        {% for item in h12 %}
            <li>{{ item }}</li>
        {% endfor %}
         </ul>  
    <h4>Inverter 11:</h4>
        <ul>
        {% for item in h13 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 12:</h4>
        <ul>
        {% for item in h14 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    <h4>Inverter 13:</h4>
        <ul>
        {% for item in h15 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 14:</h4>
        <ul>
        {% for item in h16 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul> 
    <h4>Inverter 15:</h4>
        <ul>
        {% for item in h17 %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>  
{% endblock %}